{% extends "chat/base.html" %} {% block content %}
<div
  class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-2 justify-start p-2"
>
  {% if documents %} {% for doc in documents %}
  <a href="{{ doc.id }}" class="p-2 bg-stone-200 aspect-square text-xs">
    <h1 class="font-bold">{{ doc.name }}</h1>
    <div class="my-2 p-2 bg-stone-50 w-full h-full overflow-hidden">
      {{ doc.text }}
    </div>
    <p>{{ doc.uploaded }}</p>
    {% endfor %} {% endif %}
  </a>
  {% endblock content %}
</div>
