{% extends "chat/base.html" %} {% block content %}
<div
  class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-6 gap-4 justify-start p-4"
>
  {% for doc in documents %} {% if doc.completed %}
  <a
    href="{{ doc.id }}"
    class="px-4 py-2 bg-stone-200 aspect-square text-xs rounded"
  >
    <h1 class="font-bold">{{ doc.name }}</h1>
    <div class="my-2 p-2 bg-stone-50 w-full h-full overflow-hidden rounded">
      {{ doc.text }}
    </div>
    <p class="whitespace-nowrap overflow-hidden">
      UPLOAD: {{ doc.date_uploaded }}
    </p>
    <p class="whitespace-nowrap overflow-hidden">
      FINISH: {{ doc.date_uploaded }}
    </p>
    {% if doc.embedded_successfully %}
    <p class="text-green-900">STATUS: SUCCESS</p>
    {% else %}
    <p class="text-red-900">STATUS: FAILED</p>
    {% endif %}
  </a>
  {% else %}
  <div
    href="{{ doc.id }}"
    class="px-4 py-2 bg-stone-200 aspect-square text-xs hover:cursor-not-allowed rounded"
  >
    <h1 class="font-bold">{{ doc.name }}</h1>
    <div class="my-2 p-2 bg-stone-50 w-full h-full overflow-hidden d rounded">
      {{ doc.text }}
    </div>
    <p class="whitespace-nowrap overflow-hidden">
      UPLOAD: {{ doc.date_uploaded }}
    </p>
    <p class="whitespace-nowrap overflow-hidden">FINISH:...</p>
    <p>STATUS: ...</p>
  </div>
</div>

{% endif %} {% endfor %} {% endblock content %}
