<!DOCTYPE html>
<html class="h-dvh">
  <head>
    <meta charset="utf-8" />
    {% load static %} {% load compress %} {% compress css %} <link
    rel="stylesheet" href="{% static "src/output.css" %}" /> {% endcompress %}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body class="h-full flex flex-col font-mono">
    <header
      class="bg-stone-700 text-stone-100 p-2 flex flex-row justify-between"
    >
      <a href="/">dead simple document chat</a>
      <a href="upload">upload</a>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
